<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddosirak.mapper.ItemdetailMapper">
	<!-- 상품 기초 목록 -->
	<select id="itemlist"
		resultType="com.ddosirak.domain.ItemdetailVO">
		SELECT * FROM item_detail 
		ORDER BY CASE 
	    WHEN item_code LIKE 'I%' THEN 0 
	    WHEN item_code LIKE 'M%' THEN 1 
	    ELSE 2 
	  	END, 
	  	CAST(SUBSTRING(item_code, 2) AS UNSIGNED) DESC
		LIMIT #{startRow}, #{pageSize};
	</select>
	<!-- 상품 기초 목록 -->

	<!-- 상품 기초 목록 검색 -->
	<select id="itemDetailSearch"
		resultType="com.ddosirak.domain.ItemdetailVO">
		select * from item_detail
		WHERE item_code LIKE CONCAT('%', #{item_code}, '%')
		and item_name LIKE CONCAT('%', #{item_name}, '%')
		order by item_code desc
		LIMIT #{startRow}, #{pageSize}
	</select>
	<!-- 상품 기초 목록 검색 -->


	<!-- 상품 기초 등록 -->
	<insert id="insertid">
		INSERT INTO item_detail (item_code, item_name, item_price, unit, employee_name)
		VALUES (#{item_code}, #{item_name}, #{item_price}, #{unit}, #{employee_name})
	</insert>
	<!-- 상품 기초 등록 -->
	<!-- 특정 상품 조회 -->
	<select id="selectid"
		resultType="com.ddosirak.domain.ItemdetailVO">
		SELECT * FROM item_detail where item_code = #{item_code}
	</select>
	<!-- 특정 상품 조회 -->
	<!-- 상품 기초 수정 -->
	<update id="updateid">
		UPDATE item_detail
		SET item_name = #{item_name},
		item_price = #{item_price}, unit = #{unit} , employee_name= #{employee_name}
		WHERE item_code = #{item_code}
	</update>
	<!-- 상품 기초 수정 -->

	<!-- 상품 삭제 -->
	<delete id="deleteid">
		DELETE FROM item_detail WHERE item_code = #{item_code}
	</delete>
	<!-- 상품 삭제 -->

	<!-- max(코드) -->
	<select id="getMaxCode" resultType="String">
		select max(item_code) 
		from item_detail
		where item_code like 'I%'
	</select>
	<!-- max(코드) -->

	<!-- 공장 검색 갯수 -->
	<select id="itemCount" resultType="java.lang.Integer">
		select count(*) from item_detail
		<if test="item_code != null and item_name != null">
			WHERE item_code LIKE CONCAT('%', #{item_code}, '%')
			AND
			item_name LIKE CONCAT('%', #{item_name}, '%')
		</if>
	</select>
	<!-- 공장 검색 갯수 -->
	

</mapper>