<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddosirak.mapper.ItemErrorRateMapper">
	<insert id="insert">
		INSERT INTO items_error_rate (wo_code, item_code,
		total_QTY, total_error_QTY, error_rate)
		(
		SELECT
		distinct
		p.wo_code,
		p.item_code,
		(p.pQTY + 3000) as total_QTY,
		(
		SELECT COALESCE(SUM(pfQTY), 0)
		FROM
		prod_perf_add
		WHERE perf_gobd = 'y'
		AND wo_code = p.wo_code
		) +
		COALESCE(ir.total_error_QTY, 0) as total_error_QTY,
		ir.error_rate
		FROM
		prod p
		LEFT OUTER JOIN
		prod_perf_add pa ON pa.wo_code = p.wo_code
		LEFT
		OUTER JOIN
		items_error_rate ir ON ir.item_code = pa.item_code
		);
	</insert>
</mapper>