<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ddosirak.mapper.OrderMapper">
  
  	<!-- 발주서 등록 -->
  	<insert id="insertOrder">
  		INSERT INTO ret_order 
  		(order_number, material_code, material_name, material_price, order_piece, order_date, pay_date, order_resp, order_trade)
		SELECT CONCAT('ORD', REPLACE(#{order_date}, '-', ''), IFNULL(max(order_id)+1,1)),#{material_code},#{material_name},#{material_price},#{order_piece},#{order_date},#{pay_date},#{order_resp},#{order_trade}
		FROM ret_order
  	</insert>
  	<!-- 발주서 등록 -->
  	
  	<!-- 발주현황 리스트 -->
  	<select id="orderAllList" parameterType="com.ddosirak.domain.PageVO"  resultType="com.ddosirak.domain.OrderVO">
  		SELECT * FROM ret_order 
	  		<choose>
  				<when test="kind == 'number'">WHERE order_number</when>
  				<when test="kind == 'code'">WHERE material_code</when>
  				<when test="kind == 'name'">WHERE material_name</when>
	   		</choose> 
	   		<if test="search != ''">
	   		LIKE CONCAT('%', #{search}, '%')
	   		</if>
  		ORDER BY order_date DESC
		LIMIT #{startRow}, #{pageSize} 
  	</select>
  	<!-- 발주현황 리스트 -->
  	
  	<!-- 발주서 수정 -->
  	<update id="updateOrder">
  		UPDATE ret_order SET order_piece=#{order_piece},order_date=#{order_date},pay_date=#{pay_date},order_resp=#{order_resp},order_trade=#{order_trade}
  		WHERE order_number=#{order_number}
  	</update>
  	<!-- 발주서 수정 -->
  	
  	<!-- 발주서 삭제 -->
  	<delete id="deleteOrder">
  		delete from ret_order where order_number = #{order_number}
  	</delete>
  	<!-- 발주서 삭제 -->
  	
  	<!-- 수주요청-> 레시피에 따른 자재리스트 가져오기  -->
  		
  	<!-- 입고리스트 불러오기 ret_order과 ret_in 테이블 조인 -->
  	

  	<select id="selectRequset" resultType="com.ddosirak.domain.RequestVO">
	  	SELECT m.material_code , material_name, material_con, re_qty , i.item_code
		FROM receive r JOIN item_recipe i
		JOIN material_detail m
		WHERE r.item_code = i.item_code AND
		m.material_code = i.material_code
		LIMIT #{startRow}, #{pageSize} 
  	</select>
	<!-- 입고리스트 불러오기 ret_order과 materialdetail 및 ret_in 테이블 조인 -->
  	
  </mapper>