<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ddosirak.mapper.outboundMapper">
  	<!-- SQL 쿼리 적는 곳 -->
  	
  	<!-- 출고 등록 -->
	<insert id="outInsert">
		insert into outbound(out_id,out_num,customer_code,employee_id,item_code,item_name,out_notes,standard,out_qty,price,stock_code,factory_code,due_date,out_date,create_date) 
		values (#{out_id},#{out_num},#{customer_code},#{employee_id},#{item_code},#{item_name},#{out_notes},#{standard},#{out_qty},#{price},#{stock_code},#{factory_code},#{due_date},now(),now())
	</insert>
  	<!-- 출고 등록 -->
  	
  	<!-- 출고 리스트 -->
  	<select id="outList" resultType="com.ddosirak.domain.OutboundVO">
  		select out_num, customer_code, item_name, out_qty, stock_code, due_date, out_state, out_date, employee_id
		from outbound
  	</select>
  	<!-- 출고 리스트 -->
  	
  	<!-- 진행중인 출고 리스트 -->
	<select id="getOngoingOutList" resultType="com.ddosirak.domain.OutboundVO">
	    SELECT out_num, customer_code, item_name, out_qty, stock_code, due_date, out_state, out_date, employee_id
	    FROM outbound
	    WHERE out_state = 1
	</select>

	<!-- 완료된 출고 리스트 -->
	<select id="getCompletedOutList" resultType="com.ddosirak.domain.OutboundVO">
	    SELECT out_num, customer_code, item_name, out_qty, stock_code, due_date, out_state, out_date, employee_id
	    FROM outbound
	    WHERE out_state = 0
	</select>
	
	 <update id="updateOutState" parameterType="map">
        UPDATE outbound
        SET out_state = #{newState}
        WHERE out_num = #{outNum}
    </update>
  	
  	
  	
  	
  	
  	
  	
  	
  	<!-- 거래처 리스트 -->
  	<select id="customerList" resultType="com.ddosirak.domain.OutboundVO">
  		select distinct c.customer_code, c.customer_name
		from customer c 
		join outbound o on c.customer_code = o.customer_code
  	</select>
  	<!-- 거래처 리스트 -->
  	
  	
  	
  	
  	<!-- 페이징 목록 총 갯수 -->
  	<select id="count" resultType="int">
  		select count(bno) 
  		from items
  	</select>
  					
  
  
  </mapper>