<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ddosirak.mapper.pageMapper">
  	<!-- 게시판 페이징 처리를 위한 쿼리 -->
	<select id="countBoard" resultType="Integer">
		SELECT COUNT(*) FROM emp_board
	</select>
	<!-- 게시판 페이징 처리를 위한 쿼리 -->
	
	<!-- 사원목록 페이징 처리를 위한 쿼리 -->
	<select id="countEmpList" resultType="Integer">
		SELECT COUNT(*) FROM emp_main
	</select>
	<!-- 사원목록 페이징 처리를 위한 쿼리 -->
	
	<!-- 거래처목록 페이징 처리를 위한 쿼리 -->
	<select id="countCusList"  parameterType="com.ddosirak.domain.PageVO" resultType="Integer">
		SELECT COUNT(*) FROM ret_customer	 	
		<choose>
			<when test="state == 'all'">WHERE cus_stat>= 1</when>
			<when test="state == 'input'">WHERE cus_stat = 1</when>
			<when test="state == 'output'">WHERE cus_stat = 2</when>
  		</choose> 
   		<if test="search != ''">	
   		<choose>
	   		<when test="kind == 'name'">AND cus_name</when>
	   		<when test="kind == 'code'">AND cus_code</when>		
   		</choose>
		LIKE CONCAT('%', #{search}, '%')
		</if>
	</select>
	<!-- 거래처목록 페이징 처리를 위한 쿼리 -->
	
	<!-- 입고리스트 페이징 처리를 위한 쿼리 -->
	<select id="countInbountList"  parameterType="com.ddosirak.domain.PageVO" resultType="Integer">
		SELECT COUNT(*) FROM ret_in	
		
		<choose>
  				<when test="state == 'all'">WHERE in_state>= 0</when>
  				<when test="state == 'ready'">WHERE in_state = 0</when>
  				<when test="state == 'finish'">WHERE in_state = 1</when>
  		</choose> 
		 
		<if test="search != ''">
		<choose>
  				<when test="kind == 'code'">AND wh_code</when>
  				<when test="kind == 'number'">AND in_number</when>
  		</choose> 	
		LIKE CONCAT('%', #{search}, '%')
		</if>
	</select>
	<!-- 입고목록 페이징 처리를 위한 쿼리 -->
	
	<!-- 발주리스트 페이징 처리를 위한 쿼리 -->
	<select id="countOrdList"  parameterType="com.ddosirak.domain.PageVO" resultType="Integer">
		SELECT COUNT(*) FROM ret_order
		<choose>
  				<when test="state == 'all'">WHERE order_state>= 0</when>
  				<when test="state == 'ready'">WHERE order_state = 0</when>
  				<when test="state == 'finish'">WHERE order_state = 1</when>
  		</choose> 
		
		<if test="search != ''">	
		<choose>
  				<when test="kind == 'number'">AND order_number</when>
  				<when test="kind == 'code'">AND material_code</when>
  				<when test="kind == 'name'">AND material_name</when>
  		</choose> 
		LIKE CONCAT('%', #{search}, '%')
		</if>
	</select>
	<!-- 발주리스트 페이징 처리를 위한 쿼리 -->
	

	
	<!-- 수주목록 페이징 처리를 위한 쿼리 -->
	<select id="countReceiveList" resultType="Integer">
		SELECT COUNT(*) FROM receive
	</select>
	<!-- 수주목록 페이징 처리를 위한 쿼리 -->
	
	<!-- 출고목록 페이징 -->
	<select id="countOutList" resultType="Integer">
		SELECT COUNT(*) FROM outbound
	</select>
	<!-- 출고목록 페이징 -->

	<!-- 출근사원수 -->
  	<select id="countInEmp" resultType="Integer">
  		SELECT COUNT(*) FROM emp_check 
  		WHERE DATE(date_time) = DATE(NOW()) AND emp_in IS NOT NULL 
  		ORDER BY date_time DESC 
  	</select>
  	<!-- 출근사원수 -->
  	<!-- 퇴근사원수 -->
  	<select id="countOutEmp" resultType="Integer">
  		SELECT COUNT(*) FROM emp_check  
  		WHERE DATE(date_time) = DATE(NOW()) AND emp_out IS NOT NULL 
  		ORDER BY date_time DESC 
  	</select>
  	<!-- 퇴근사원수 -->
  	
  	<!-- 발주등록으로 가져올 수주요청과 레시피 join-->
  	<select id="countRequest" resultType="Integer">
  	    select count(*)
		from receive r JOIN item_recipe i
		JOIN material_detail m
		WHERE r.item_code = i.item_code and
		m.material_code = i.material_code;
  	</select>
  	
  	<!-- 발주등록으로 가져올 수주요청과 레시피 join-->
  
  </mapper>