<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ddosirak.mapper.QualityMapper">

	<!-- 품질현황 목록 출력 -->
	<select id="qualityList"
		resultType="com.ddosirak.domain.QualityControlVO">
		SELECT DISTINCT
		p.wo_code,
		p.line_code,
		p.item_code,
		p.sQTY,
		p.pQTY,
		p.item_name,
		ir.employee_name,
		(
		SELECT COALESCE(SUM(pfQTY), 0)
		FROM prod_perf_add
		WHERE perf_gobd = 'y'
		AND wo_code = p.wo_code
		) +
		COALESCE(ir.total_error_QTY, 0) as total_error_QTY,
		p.line_name
		FROM
		prod p
		LEFT OUTER JOIN
		prod_perf_add pa ON pa.wo_code = p.wo_code
		LEFT
		OUTER JOIN
		items_error_rate ir ON ir.wo_code = p.wo_code
		Limit
		#{startRow},
		#{pageSize}
	</select>

	<!-- 품질현황 검색 목록 출력 -->
	<select id="qualitySearchList"
		resultType="com.ddosirak.domain.QualityControlVO">
		SELECT DISTINCT
		p.wo_code,
		p.line_code,
		p.item_code,
		p.sQTY,
		p.pQTY,
		p.item_name,
		ir.employee_name,
		(
		SELECT COALESCE(SUM(pfQTY), 0)
		FROM
		prod_perf_add
		WHERE perf_gobd = 'y'
		AND wo_code = p.wo_code
		) +
		COALESCE(ir.total_error_QTY, 0) as total_error_QTY,
		p.line_name
		FROM
		prod p
		LEFT OUTER JOIN
		prod_perf_add pa ON pa.wo_code = p.wo_code
		LEFT
		OUTER JOIN
		items_error_rate ir ON ir.wo_code = p.wo_code
		WHERE
		p.wo_code
		LIKE
		CONCAT('%',
		#{wo_code}, '%')
		AND p.line_code LIKE
		CONCAT('%',
		#{line_code}, '%')
		AND
		p.item_name LIKE CONCAT('%',
		#{item_name}, '%')
		<if test="employee_name != null and employee_name != ''">
			AND
			ir.employee_name LIKE CONCAT('%',
			#{employee_name}, '%')
		</if>

		LIMIT
		#{startRow}, #{pageSize}
	</select>

	<!-- 품질 검수자 등록 -->
	<insert id="qcInsert">
		insert into items_error_rate (wo_code, employee_id,
		employee_name) values
		(#{wo_code}, #{employee_id}, #{employee_name})
	</insert>

	<!-- 작업지시목록 -->
	<select id="qualityitemList"
		resultType="com.ddosirak.domain.QualityControlVO">
		SELECT * FROM prod
		LIMIT #{startRow}, #{pageSize}
	</select>

	<!-- 상품검색 -->
	<!-- proitemSearch -->
	<!-- 작업지시 검색목록 -->
	<select id="qualityitemSearch"
		resultType="com.ddosirak.domain.QualityControlVO">
		SELECT * FROM prod
		WHERE wo_code LIKE CONCAT('%',
		#{wo_code}, '%')
		AND item_name LIKE CONCAT('%', #{item_name}, '%')
		LIMIT #{startRow}, #{pageSize}
	</select>

	<!-- 사원목록 -->
	<select id="employeeitemList"
		resultType="com.ddosirak.domain.EmployeeVO">
		SELECT * FROM emp_main
		where department_name = '품질팀'
		LIMIT
		#{startRow}, #{pageSize}
	</select>

	<!-- 사원목록검색 -->
	<!-- proitemSearch -->
	<!-- 작업지시 검색목록 -->
	<select id="employeeitemSearch"
		resultType="com.ddosirak.domain.EmployeeVO">
		SELECT * FROM emp_main
		where department_name = '품질팀'
		AND
		employee_id LIKE CONCAT('%', #{employee_id}, '%')
		AND employee_name
		LIKE CONCAT('%', #{employee_name}, '%')
		LIMIT #{startRow}, #{pageSize}
	</select>

	<!-- 품질 현황 검색 갯수 -->
	<select id="itemCount" resultType="java.lang.Integer">
		SELECT count(*) FROM prod p LEFT OUTER JOIN items_error_rate ir
		ON
		p.wo_code =
		ir.wo_code
		<!-- <if -->
		<!-- test="line_code != null and wo_code != null and item_name != null"> -->
		<!-- where p.wo_code like concat('%', #{wo_code}, '%') -->
		<!-- and p.line_code -->
		<!-- like concat('%', #{line_code}, '%') -->
		<!-- and p.item_name like concat('%', -->
		<!-- #{item_name}, '%') -->
		<!-- </if> -->
		<!-- <if test="employee_name != null"> -->
		<!-- and ir.employee_name like concat('%', -->
		<!-- #{employee_name}, '%') -->
		<!-- </if> -->
	</select>

	<!-- 사원목록 검색 갯수 -->
	<select id="employeeCount" resultType="java.lang.Integer">
		SELECT count(*) FROM
		emp_main
		where department_name = '품질팀'
	</select>

	<!-- 불량리스트 -->
	<select id="errorList"
		resultType="com.ddosirak.domain.QualityControlVO">
		select
		p.wo_code,
		pp.item_code,
		SUM(pp.pfQTY) AS total_QTY,
		SUM(CASE WHEN
		pp.perf_gobd = 'Y' THEN pp.pfQTY ELSE 0 END) AS
		total_error_QTY,
		ie.error_status
		from prod p
		LEFT OUTER JOIN
		prod_perf_add pp
		ON p.wo_code
		= pp.wo_code
		LEFT OUTER JOIN
		items_error_rate ie
		ON pp.wo_code =
		ie.wo_code
	</select>
	
	<select id="errorSearchList"
		resultType="com.ddosirak.domain.QualityControlVO">
		select
		p.wo_code,
		pp.item_code,
		SUM(pp.pfQTY) AS total_QTY,
		SUM(CASE WHEN
		pp.perf_gobd = 'Y' THEN pp.pfQTY ELSE 0 END) AS
		total_error_QTY,
		ie.error_status
		from prod p
		LEFT OUTER JOIN
		prod_perf_add pp
		ON p.wo_code
		= pp.wo_code
		LEFT OUTER JOIN
		items_error_rate ie
		ON pp.wo_code =
		ie.wo_code
		WHERE pp.wo_code =
		#{wo_code}
		<if test="item_code != null and item_code != ''">
			and pp.item_code LIKE CONCAT('%', #{item_code}, '%')
		</if>
		<if test="error_status != null and error_status != ''">
			and ie.error_status LIKE CONCAT('%', #{error_status}, '%')
		</if>
		AND pp.item_code is not null
		LIMIT #{startRow}, #{pageSize}
	</select>

	<!-- 불량 상태 등록 -->

	<insert id="insertStatus">
		INSERT INTO items_error_rate (wo_code, item_code,
		error_status)
		SELECT
		p.wo_code,
		pp.item_code,
		#{error_status}
		FROM
		prod p
		LEFT OUTER
		JOIN prod_perf_add pp ON p.wo_code = pp.wo_code
		LEFT OUTER
		JOIN
		items_error_rate ie ON ie.wo_code = pp.wo_code
		where p.wo_code =
		#{wo_code}
		and pp.item_code = #{item_code}
		limit 1
	</insert>

	<update id="updateStatus">
		update items_error_rate
		set error_status = #{error_status}, item_code = #{item_code}
		where wo_code = #{wo_code}
	</update>

	<!-- 불량 현황 검색 갯수 -->
	<select id="errorCount" resultType="java.lang.Integer">
		select count(DISTINCT
		pp.item_code)
		from prod p
		LEFT OUTER JOIN prod_perf_add pp
		ON p.wo_code
		=
		pp.wo_code
		LEFT OUTER JOIN items_error_rate ie
		ON pp.wo_code =
		ie.wo_code
		where pp.wo_code LIKE CONCAT('%', #{wo_code}, '%')
	</select>
	
	<select id="errorTotalCount" resultType="java.lang.Integer">
		select count(DISTINCT pp.item_code)
		from prod p
		LEFT OUTER JOIN prod_perf_add pp
		ON p.wo_code = pp.wo_code
		LEFT OUTER JOIN items_error_rate ie
		ON pp.wo_code = ie.wo_code;
	</select>

	<!-- 품질검사 등록 -->
	<!-- <insert id="insertInspection" -->
	<!-- parameterType="com.ddosirak.domain.QualityControlVO"> -->
	<!-- <selectKey keyProperty="inspection_number" -->
	<!-- resultType="String" order="BEFORE"> -->
	<!-- SELECT CONCAT('INSP', -->
	<!-- LPAD(IFNULL(MAX(CAST(RIGHT(inspection_number, 4) AS -->
	<!-- UNSIGNED)), 0) + -->
	<!-- 1, 4, '0')) FROM quality -->
	<!-- </selectKey> -->
	<!-- INSERT INTO quality -->
	<!-- (inspection_number, inspection_date, -->
	<!-- inspection_result, iQTY, wo_code, -->
	<!-- inspection_comment, item_name, -->
	<!-- item_code) -->
	<!-- VALUES ( -->
	<!-- #{inspection_number}, -->
	<!-- #{inspection_date}, -->
	<!-- #{inspection_result}, -->
	<!-- #{iQTY}, -->
	<!-- #{wo_code}, -->
	<!-- #{inspection_comment}, -->
	<!-- #{item_name}, -->
	<!-- #{item_code} -->
	<!-- ) -->
	<!-- </insert> -->

	<!-- 품질검사 목록 -->
	<!-- <select id="inspectionList" -->
	<!-- resultType="com.ddosirak.domain.QualityControlVO"> -->
	<!-- select * from quality -->
	<!-- limit #{startRow}, #{pageSize} -->
	<!-- </select> -->

	<!-- <select id="inspectionSearchList" -->
	<!-- resultType="com.ddosirak.domain.QualityControlVO"> -->
	<!-- select * from quality -->
	<!-- WHERE -->
	<!-- inspection_date LIKE CONCAT ('%', -->
	<!-- #{inspection_date}, '%') -->
	<!-- <choose> -->
	<!-- <when test="item_name != null"> -->
	<!-- AND item_name -->
	<!-- LIKE CONCAT('%', -->
	<!-- #{item_name}, '%') -->
	<!-- </when> -->
	<!-- <when test="inspection_result != null"> -->
	<!-- AND -->
	<!-- inspection_result LIKE CONCAT ('%', -->
	<!-- #{inspection_result}, '%') -->
	<!-- </when> -->
	<!-- <otherwise></otherwise> -->
	<!-- </choose> -->
	<!-- limit -->
	<!-- #{startRow}, #{pageSize} -->
	<!-- </select> -->

	<!-- 품질검사 검색 갯수 -->
	<!-- <select id="inspectionCount" resultType="java.lang.Integer"> -->
	<!-- SELECT count(*) FROM -->
	<!-- quality -->
	<!-- WHERE inspection_date LIKE CONCAT ('%', -->
	<!-- #{inspection_date}, -->
	<!-- '%') -->
	<!-- <choose> -->
	<!-- <when test="item_name != null"> -->
	<!-- AND item_name -->
	<!-- LIKE CONCAT('%', -->
	<!-- #{item_name}, '%') -->
	<!-- </when> -->
	<!-- <when test="inspection_result != null"> -->
	<!-- AND -->
	<!-- inspection_result LIKE CONCAT ('%', -->
	<!-- #{inspection_result}, '%') -->
	<!-- </when> -->
	<!-- <otherwise></otherwise> -->
	<!-- </choose> -->
	<!-- </select> -->

	<!-- max(코드) -->
	<!-- <select id="getMaxCode" resultType="String"> -->
	<!-- select max(inspection_number) -->
	<!-- from quality -->
	<!-- </select> -->
	<!-- max(코드) -->

</mapper>